.dataview {
	-webkit-box-shadow: 0px 5px 10px -6px black;
	-moz-box-shadow: 0px 5px 10px -6px black;
	box-shadow: 0px 5px 10px -6px black;
	padding: 10px 10px 20px 10px;
	border-radius: 20px;
	margin: 10px;
	height: 180px;
	width: 180px;
	background-color: #e3ebec;
	cursor: pointer;
}
.dataview-image {
	height:100px;width:100px;display:block;margin-left:auto;margin-right:auto;
}
.dataview-text {
	text-align:center;margin-top:10px;font-size:12px;
}


.x-surface {
    position: absolute;
}

.top {
	position: absolute;
	color: white;
	background-color: #111;
	top: 0;
	left: 200px; 												/* leftWidth */
	width: calc(100% - 200px);					/* 100% - leftWidth */
	height: 60px;												/* INPUT */
}
.left {
	position: absolute;
	color: white;
	background-color: #111;
	top: 0;
	left: 0;
	width: 200px;												/* INPUT */
	height: 100%;
}
.center {
	position: absolute;
	color: #111;
	background-color: white;
	top: 60px;													/* topHeight */
	left: 200px; 												/* leftWidth */
	width: calc(100% - 200px - 0px); 	/* 100% - leftWidth - rightWidth */
	height: calc(100% - 60px - 30px); 	/* 100% - topHeight - bottomHeight */
}
.right {
	position: absolute;
	color: #111;
	background-color: lightgray;
	top: 60px;													/* topHeight */
	right: 0;
	width: 300px;												/* INPUT */
	height: calc(100% - 60px - 30px);		/* 100% - topHeight - bottomHeight */
}
.bottom {
	position: absolute;
	color: white;
	background-color: #00695c;
	bottom: 0;
	left: 200px;												/* leftWidth */
	width: calc(100% - 200px);					/* 100% - leftWidth */
	height: 30px;												/* INPUT */
}

.header {
	color:white;font-size:24px;padding-left:20px;padding-top:20px;
}

.detail {
	color:white;font-size:24px;padding-left:20px;padding-top:20px;
}

.logoImage {
	padding-top:10px;padding-left:20px;height:42px;width:42px;
}

.logoText {
	height:60px;padding-bottom:160px;padding-left:1px;font-size:20px;color:white;text-align:center;
}

.footer {
	color:white;font-size:14px;padding-left:10px;padding-top:5px;
}
