/* profile */

.profile_pic {
    width: 35%;
    float: left;
}
.img-circle {
    border-radius: 50%;
}
.img-circle.profile_img {
    width: 70%;
    background: #fff;
    z-index: 1000;
    position: inherit;
    margin-top: 5px;
		margin-left: 25px;
		margin-bottom: 15px;
    border: 1px solid rgba(52,73,94,0.44);
    padding: 4px;
}
.profile_info {
    padding: 15px 10px 15px;
    width: 65%;
    float: left;
}
.profile_info {
    padding: 15px 10px 15px;
    width: 65%;
    float: left;
}

.profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}



/*
.logo_img {
    height: 40px;
		padding-left:10px;
		padding-top: 5px;
}
*/


img {
    vertical-align: middle;
}


/* profile */


.nav_title {
	width: 225px;
	float: left;
	color: white;
	border-radius: 0;
}

.site_title i {
	border: 1px solid #EAEAEA;
	color: white;
	padding: 5px 6px;
	border-radius: 50%;
}

.sidebar {
	border-radius: 0;
	position: fixed;
	z-index: 3;
	top: 0px;
	left: 225px;
	width: 225px;
	margin-left: -225px;
	border: none;
	border-radius: 0;
	overflow-y: auto;
	background: -webkit-linear-gradient(top left, #000 0%, #3f729b 100%);
	background: -o-linear-gradient(top left, #000 0%, #3f729b 100%);
	background: linear-gradient(to bottom right, #000 0%, #3f729b 100%);
	bottom: 0;
	overflow-x: hidden;
	padding-bottom: 40px;
	transition: all 0.2s ease-in-out;
}
.sidebar-group { margin-left:0;margin-right:0;margin-top:0;margin-bottom:0; }
.sidebar-group-item { position:relative; }
.sidebar-child { margin-left:23px; }
.sidebar-chevron { position:absolute;right:15px;top:8px; }
.sidebar-image { width:20px;text-align:center; }

ul a {
	font-size: 12px;
	margin: 1px 15px 1px 15px;
	padding: 5px 15px 5px 15px;
	width:175px;
	text-decoration: none;
	display: inline-block;
	color: white;
	border-top-right-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
ul a:hover {
	color: #FFFFFF;
	background-color: #294a65; /* #3f729b; */
}
ul a.active {
	color: #FFFFFF;
	background-color: #294a65;
}





/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:560 */
.x-treelist {
    background-position: 16px 0%;
    overflow: hidden;
    padding: 0 0 0 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:565 */
.x-big .x-treelist {
    background-position: 24px 0%;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:573 */
.x-treelist-container,
.x-treelist-root-container {
    width: 100%;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:578 */
.x-treelist-toolstrip {
    display: none;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:583 */
.x-treelist-micro > .x-treelist-toolstrip {
    display: inline-block;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:586 */
.x-treelist-micro > .x-treelist-root-container {
    display: none;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:591 */
.x-treelist-item,
.x-treelist-container,
.x-treelist-root-container {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:600 */
.x-treelist-item-tool,
.x-treelist-row,
.x-treelist-item-wrap {
    position: relative;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:606 */
.x-treelist-item-icon,
.x-treelist-item-expander {
    display: none;
    position: absolute;
    top: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:613 */
.x-treelist-item-expander {
    right: 0;
    cursor: pointer;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:618 */
.x-treelist-expander-only .x-treelist-item-expandable > * > .x-treelist-item-wrap > * {
    cursor: pointer;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:622 */
.x-treelist-item-text {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:628 */
.x-treelist-item-collapsed > .x-treelist-container {
    display: none;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:632 */
.x-treelist-item-expandable > * > * > .x-treelist-item-expander,
.x-treelist-item-icon {
    display: block;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:637 */
.x-treelist-item-floated > * > * > .x-treelist-item-expander,
.x-treelist-item-floated > * > * > .x-treelist-item-icon {
    display: none;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:642 */
.x-treelist-expander-first .x-treelist-item-expander {
    left: 0;
    right: auto;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:100 */
.x-treelist-toolstrip {
    background-color: #f8f8f8;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:131 */
.x-treelist-item-selected > .x-treelist-row {
    background-color: #ffefbb;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:140 */
.x-treelist-item-tool {
    padding-left: 10px;
    padding-right: 10px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:163 */
.x-treelist-item-icon:before,
.x-treelist-item-tool:before,
.x-treelist-item-expander {
    line-height: 32px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:169 */
.x-big .x-treelist-item-icon:before,
.x-big .x-treelist-item-tool:before,
.x-big .x-treelist-item-expander {
    line-height: 44px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:175 */
.x-treelist-item-icon,
.x-treelist-item-tool,
.x-treelist-item-expander {
    text-align: center;
    background-repeat: no-repeat;
    background-position: 0 center;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:185 */
.x-treelist-item-loading .x-treelist-item-icon {
    background-image: url(images/tree/loading.gif);
    color: transparent;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:190 */
.x-treelist-item-icon,
.x-treelist-item-tool {
    color: #5fa2dd;
    font-size: 16px;
    width: 16px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:196 */
.x-big .x-treelist-item-icon,
.x-big .x-treelist-item-tool {
    font-size: 24px;
    width: 24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:203 */
.x-treelist-item-tool {
    width: 36px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:207 */
.x-big .x-treelist-item-tool {
    width: 44px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:213 */
.x-treelist-item-expander {
    color: #5fa2dd;
    font-size: 16px;
    width: 16px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:217 */
.x-big .x-treelist-item-expander {
    font-size: 24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:223 */
.x-big .x-treelist-item-expander {
    width: 24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:229 */
.x-treelist-item-expander:after {
    content: "\f0da";
    font-feature-settings: 'liga';
    font-family: FontAwesome;
    line-height: 1;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:233 */
.x-treelist-item-expanded > * > * > .x-treelist-item-expander:after {
    content: "\f0d7";
    font-feature-settings: 'liga';
    font-family: FontAwesome;
    line-height: 1;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:242 */
.x-treelist-item-text {
    color: #404040;
    margin-left: 22px;
    margin-right: 16px;
    line-height: 32px;
    text-overflow: ellipsis;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:249 */
.x-big .x-treelist-item-text {
    margin-left: 30px;
    line-height: 44px;
    margin-right: 24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:258 */
.x-treelist-row {
    padding-left: 35px;
    padding-right: 35px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:289 */
.x-treelist-item-floated .x-treelist-container {
    width: auto;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:292 */
.x-treelist-item-floated > .x-treelist-row {
    background-color: #f8f8f8;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:296 */
.x-treelist-item-floated > .x-treelist-container {
    margin-left: -16px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:299 */
.x-big .x-treelist-item-floated > .x-treelist-container {
    margin-left: -24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:305 */
.x-treelist-item-floated > * > * > .x-treelist-item-text {
    margin-left: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:309 */
.x-treelist-item-floated > * .x-treelist-row {
    padding-left: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:313 */
.x-treelist-item-floated .x-treelist-row:before {
    width: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:317 */
.x-treelist-item-floated > .x-treelist-row-over {
    background-color: #f8f8f8;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:320 */
.x-treelist-item-floated > .x-treelist-row-over > * > .x-treelist-item-text {
    color: #404040;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:333 */
.x-treelist-item-expanded > .x-treelist-item-expander:after {
    content: "\f0d7";
    font-feature-settings: 'liga';
    font-family: FontAwesome;
    line-height: 1;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:338 */
.x-treelist-item-collapsed > * > .x-treelist-item-expander:after {
    content: "\f0da";
    font-feature-settings: 'liga';
    font-family: FontAwesome;
    line-height: 1;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:344 */
.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-icon {
    color: #5fa2dd;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:348 */
.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-text {
    color: #404040;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:352 */
.x-treelist-highlight-path .x-treelist-item-over > * > .x-treelist-item-expander {
    color: #5fa2dd;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:362 */
.x-treelist-row-over > * > .x-treelist-item-icon {
    color: #5fa2dd;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:366 */
.x-treelist-row-over > * > .x-treelist-item-text {
    color: #404040;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:370 */
.x-treelist-row-over > * > .x-treelist-item-expander {
    color: #5fa2dd;
    transition: color 0.5s;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:377 */
.x-treelist-expander-first .x-treelist-item-icon {
    left: 16px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:380 */
.x-big .x-treelist-expander-first .x-treelist-item-icon {
    left: 24px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:386 */
.x-treelist-expander-first .x-treelist-item-text {
    margin-left: 38px;
    margin-right: 0;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:389 */
.x-big .x-treelist-expander-first .x-treelist-item-text {
    margin-left: 54px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:396 */
.x-treelist-expander-first .x-treelist-item-hide-icon > * > * > .x-treelist-item-text {
    margin-left: 22px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:399 */
.x-big .x-treelist-expander-first .x-treelist-item-hide-icon > * > * > .x-treelist-item-text {
    margin-left: 30px;
}
/* /Users/marcgusmano/aaNew/SenchaTraining/labs/ext/packages/core/sass/src/list/TreeItem.scss:406 */
.x-treelist-item-hide-icon > * > * > .x-treelist-item-text {
    margin-left: 6px;
}




